@{
    ViewData["Title"] = "AdministratorConsultDate";
}

<center>
    <h3 class="titles">Citas</h3>
    <p class="titles"> Seleccione el tipo de búsqueda</p>
</center>


<div class="row">
    <div class="col-sm ">
        <div class="form-group row scheduleDatesFilter">
            <label class="col-sm-4 control-label small" for="initialDate">Fecha inicial</label>
            <input type="date" class="col-sm-4 form-control form-control-sm" id="initialDate" name="initialDate" />
        </div>
    </div>
    <div class="col-sm ">
        <div class="form-group row scheduleDatesFilter">
            <label class="col-sm-4 control-label small" for="finalDate">Fecha Final</label>
            <input type="date" class="col-sm-4 form-control form-control-sm" id="finalDate" name="finalDate" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm ">
        <div class="form-group row scheduleDatesFilter">
            <label class="col-sm-4 col-form-label-sm" for="process">Proceso</label>
            <select class="col-sm-4 custom-select custom-select-sm" id="process" name="process">
                @*<option value = 0>Seleccione..</option>*@
                @foreach (CitasSAPSO.Models.CatalogueModels process in ViewBag.process)
                {
                    <option value="@process.ID">@process.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="col-sm ">
        <div class="form-group row scheduleDatesFilter">
            <label class="col-sm-4 col-form-label-sm" for="assistance">Asistencia</label>
            <select class="col-sm-5 custom-select custom-select-sm" id="assistance" name="assistance">
                @*<option value=0>Seleccione..</option>*@
                @foreach (CitasSAPSO.Models.CatalogueModels _assitance in ViewBag.assistance)
                {
                    <option value="@_assitance.ID">@_assitance.Name</option>
                }
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm ">
        <div class="form-group row scheduleDatesFilter">
            <label class="col-sm-4 col-form-label-sm" for="office">Oficina</label>
            <select class="col-sm-4 custom-select custom-select-sm" id="office" name="office">
                @*<option value=0>Seleccione..</option>*@
                @foreach (CitasSAPSO.Models.CatalogueModels offices in ViewBag.offices)
                {
                    <option value="@offices.ID">@offices.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="col-sm ">
        <div class="form-group row scheduleDatesFilter">
            <label class="col-sm-4 col-form-label-sm" for="identification">Cédula</label>
            <input type="number" class="col-sm-4 form-control form-control-sm" id="identification" name="identification" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm ">
        <div class="form-group row scheduleDatesFilter">
            <label class="col-sm-4 col-form-label-sm" for="professional">Profesional</label>
            <select class="col-sm-4 custom-select custom-select-sm" id="professional" name="professional">
                @*<option value=0>Seleccione..</option>*@
                @foreach (CitasSAPSO.Models.UserModels professional in ViewBag.professional)
                {
                    <option value="@professional.Cedula">@professional.Name @professional.FirstLastName</option>
                }
            </select>
        </div>
    </div>
    <div class="col-sm ">
        <div class="form-group row scheduleDatesFilter">
            <label class="col-sm-4 col-form-label-sm" for="gender">Sexo</label>
            <select class="col-sm-4 custom-select custom-select-sm" id="gender" name="gender">
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm ">
        <div class="form-group row scheduleDatesFilter">
            <label class="col-sm-4 col-form-label-sm" for="dateStatus">Estado Cita</label>
            <input type="text" class="col-sm-4 form-control form-control-sm" id="dateStatus" name="dateStatus" />
        </div>
        <div class="form-group row scheduleDatesFilter">
            <label class="col-sm-4 col-form-label-sm" for="consecutive">Consecutivo</label>
            <input type="number" class="col-sm-4 form-control form-control-sm" id="consecutive" name="consecutive" />
        </div>
    </div>

    <div class="col-sm ">
        <div class="form-group row scheduleDatesFilter">
            <label class="col-sm-4 col-form-label-sm" for="age">Edad</label>
            <input type="number" class="col-sm-4 form-control form-control-sm" id="age" name="age" />
        </div>
        
        <a onclick="searchAppointment()" class="btn btn-success btn-sm" style="margin-left: 100px;">Buscar</a>
        <div class="alert-danger justify-content-end">
            <span id="resultado"></span>
        </div>
    </div>

</div>

<div class="row">
    <div class="administratorConsultTable">
        @{Html.RenderPartial("~/Views/User/ConsultTableFunctionary.cshtml");}
    </div>
</div>
<div class=" row justify-content-end">
    @Html.ActionLink("Atrás", "DashboardAdministrator", "User", null, new { @class = "btn btn-success btn-sm" })
</div>

<script>
    /*window.onload = function () {
        loadAdministratorConsult();
    }*/
    function validNumber(data) {
        if (Math.sign(data) == -1) {
            $("#resultado").html("Datos invalidos");
            return 
        }
    }
    function searchAppointment() {
        $("#resultado").html("");
        var initialDate = $('#initialDate').val();
        if (initialDate == "") {
            initialDate = null;
        }
        var finalDate = $('#finalDate').val();

        if (finalDate == "") {
            finalDate = null;
        }
        var process = $('#process').val();
        var assistance = $('#assistance').val();
        var office = $('#office').val();
        var identification = $('#identification').val();
        validNumber(identification);
        if (identification == "")
            identification = -1;
        var professional = $('#professional').val();
        var gender = $('#gender').val();
        var dateStatus = $('#dateStatus').val();

        var consecutive = $('#consecutive').val();
        validNumber(consecutive);
        if (consecutive == "")
            consecutive = -1;
        var age = $('#age').val();
        validNumber(age);
        if (age == "")
            age = -1;

        var parameters = {
            "initialDate": initialDate, "finalDate": finalDate, "process": process,
            "assistance": assistance, "office": office, "identification": identification,
            "professional": professional, "gender": gender, "dateStatus": dateStatus,
            "consecutive": consecutive, "age": age
        };
        $.ajax(
            {
                data: parameters,
                url: '/Appointment/ConsultDateAdministrator',
                type: 'post',
                beforeSend: function () {
                    //$("#messageSpanId").html("Procesando, espere por favor ...");
                },
                success: function (response) {
                    var data = JSON.parse(response);
                    var text = "";
                    for (i in data) {
                        text += "<tr>";
                        text += '<td>' + data[i].Id + '</td>';
                        text += '<td>' + data[i].Functionary.Name + '</td>';
                        text += '<td>' + data[i].Functionary.FirstLastName + '</td>';
                        text += '<td>' + data[i].Functionary.SecondLastName + '</td>';
                        text += '<td>' + data[i].Functionary.Cedula + '</td>';
                        text += '<td>' + data[i].Professional.Cedula + '</td>';
                        text += '<td>' + data[i].SubProcess.Name + '</td>';
                        text += '<td>' + data[i].SubActivity.Name + '</td>';
                        text += '<td>' + data[i].Date + '</td>';
                        text += '<td>' + data[i].Hour + '</td>';
                        text += '<td><a class=" btn btn-success btn-sm" onclick="viewDetailAppointment()">Ver</a></td>';
                        text += '<td><a class=" btn btn-success btn-sm" onclick="modifyFunctionary()">Modificar</a></td>';
                        text += '<td><a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#cancelModal" onclick="cancelAppointment()">Cancelar</a></td>';
                        text += "</tr>";
                    }
                    $("#tbody").html(text);


                }
            }
        );
    }

    function viewDetailAppointment() {
        $("#tbody tr").click(function () {
            $(this).addClass('selected').siblings().removeClass('selected');
            var id = $(this).find('td:first').html();
            var valueId = $(this).find('td:nth-child(4)');
            var identification = valueId.next().text();
            var IdAppointment = id
            //var parameters = { "FunctionaryId": identification, "IdAppointment": IdAppointment };
            location.href = "/Appointment/ShowAppointmentDetailPost?cedula=" + identification + "&id=" + IdAppointment;

        });
    }

    function cancelAppointment() {
        $("#tbody tr").click(function () {
            $(this).addClass('selected').siblings().removeClass('selected');
            var id = $(this).find('td:first').html();
            var IdAppointment = id

            selectAppointment(IdAppointment);

        });
    }



</script>

