@{
    ViewData["Title"] = "ConsultDateFunctionary";
}

<center>
    <h3 class="titles">Citas</h3>
    <p class="text-success"> Seleccione el tipo de búsqueda</p>
</center>

<center>
    <form id="search-form" action="/User/SearchAppointmentFunctionary" method="post">
        <div class="form-group row">
            <label for="identificationInput" class="col-sm-7 col-form-label-sm">Cédula</label>
            <input type="text" name="_FunctionaryId" id="_FunctionaryId" class="col-sm-5 form-control form-control-sm" required>
        </div>
        <div class="form-group row">
            <label for="consecutiveInput" class="col-sm-7 col-form-label-sm">Consecutivo</label>
            <input type="text" name="_IdAppointment" id="_IdAppointment" class="col-sm-5 form-control form-control-sm" required>
        </div>
        <div>
            <button class="btn btn-success btn-sm" type="submit">
                Consultar
            </button>
            @*<a class="btn btn-success btn-sm" id="updateAssistance" name="updateAssistance" onclick="searchAppointment()"> Consultar</a>*@
            @*@Html.ActionLink("Consultar", "SearchAppointmentFunctionary", "User", new { _IdAppointment = $("_IdAppointment").val(), _FunctionaryId = $("_FunctionaryId").val() }, new { @class = "btn btn-success btn-sm" })*@

        </div>
    </form>
</center>
<br />
<div class="row condultFunctionaryTable">
    <table class="table table-bordered table-striped table-hover table-sm table-responsive-md">
        <thead>
            <tr>
                <th scope="col">Consecutivo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Primer Apellido</th>
                <th scope="col">Segundo Apellido</th>
                <th scope="col">Cédula</th>
                <th scope="col">Psicólogo</th>
                <th scope="col">Proceso</th>
                <th scope="col">Actividad</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora Inicio</th>
                <th scope="col">Ver Detalle</th>

                <th scope="col">Cancelar</th>
            </tr>
        </thead>
        <tbody>

            @if (ViewBag.appointments != null)
            {
                foreach (CitasSAPSO.Models.AppointmentModels appointments in ViewBag.appointments)
                {
            <tr>
                <td>@appointments.Id</td>
                <td>@appointments.Functionary.Name</td>
                <td>@appointments.Functionary.FirstLastName</td>
                <td>@appointments.Functionary.SecondLastName</td>
                <td>@appointments.Functionary.Cedula</td>
                <td>@appointments.Professional.Name</td>
                <td>@appointments.SubProcess.Name</td>
                <td>@appointments.SubActivity.Name</td>
                <td>@appointments.Date</td>
                <td>@appointments.Hour</td>
                <td>@Html.ActionLink("Ver", "ShowAppointmentDetail", "Appointment", new { FunctionaryId = appointments.Functionary.Cedula, IdAppointment = appointments.Id}, new { @class = "btn btn-success btn-sm" })</td>
                <td><a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#cancelModal" onclick="selectAppointment(@appointments.Id);">Cancelar</a></td>
            </tr>
                } 
            }
        </tbody>
    </table>

    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelModalLabel">Cancelar Cita</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="justificationInput">Justificación:</label>
                        <textarea class="form-control" id="justification" name="justification" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                    <button type="button" class="btn btn-danger" onclick="deleteApppointment()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <a class="btn btn-success btn-sm" href="/Appointment/Index">Atrás</a>
    </div>
</div>

<script>
    var id;
    function selectAppointment(appointmentId) {
        id = appointmentId;        
    }

    function deleteApppointment() {
        var justification = $('#justification').val();
        var parameters = { "id": id, "justification": justification };
        $.ajax(
            {
                data: parameters,
                url: '/Appointment/DeleteAppointment',
                type: 'post',
                success: function (response) {
                    if (response == "Exitoso") {
                        location.href = "/User/ConsultAppointmentFunctionary";
                    } else {
                        $("#messageSpanId").html("No se pudo agregar");
                    }
                }
            }
        );
    }
</script>