
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<table id="tableID" class="table table-bordered table-striped table-hover table-sm table-responsive-md">
    <thead>
        <tr>
            <th scope="col">Consecutivo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">Cédula</th>
            <th scope="col">Psicólogo</th>
            <th scope="col">Proceso</th>
            <th scope="col">Actividad</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora Inicio</th>
            <th scope="col">Ver Detalle</th>
            <!--Controlar con Session solo Admin-->
            <th scope="col">Modificar</th>
            <!---->
            <th scope="col">Cancelar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CitasSAPSO.Models.AppointmentModels appointment in ViewBag.appointments)
        {
        <tr>
            <td>@appointment.Id</td>
            <td>@appointment.Functionary.Name</td>
            <td>@appointment.Functionary.FirstLastName</td>
            <td>@appointment.Functionary.SecondLastName</td>
            <td>@appointment.Functionary.Cedula</td>
            <td>@appointment.Professional.Cedula</td>
            <td>@appointment.SubProcess.Name</td>
            <td>@appointment.SubProcess.Name</td>
            <td>@appointment.Date</td>
            <td>@appointment.Hour</td>
            <td><a class=" btn btn-success btn-sm" onclick="modifyProffesional()">Ver</a></td>
            <td><a class=" btn btn-success btn-sm" onclick="modifyProffesional()">Modificar</a></td>
            <td>
                <button onclick="deleteProffesional()" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#cancelModal">
                    Cancelar
                </button>
            </td>
        </tr>
        }

    </tbody>
</table>

<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Cancelar Cita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="justificationInput">Justificación:</label>
                    <textarea class="form-control" id="justificationInput" name="justificationInput" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                <button type="button" class="btn btn-danger">Confirmar</button>
            </div>
        </div>
    </div>
</div>


<script>
    function searchAppointment() {
       
        var initialDate = $('#initialDate').val();
        var finalDate = $('#finalDate').val();
        var process = $('#process').val();
        var assistance = $('#assistance').val();
        var office = $('#office').val();
        var identification = $('#identification').val();
        var professional = $('#professional').val();
        var gender = $('#gender').val();
        var dateStatus = $('#dateStatus').val();
        var consecutive = $('#consecutive').val();
        var age = $('#age').val();

        
        var parameters = {
            "initialDate": initialDate, "finalDate": finalDate, "process": process,
            "assistance": assistance, "office": office, "identification": identification,
            "professional": professional, "gender": gender, "dateStatus": dateStatus,
            "consecutive": consecutive, "age": age
        };
        $.ajax(
            {
                data: parameters,
                url: '/Appointment/SearchAppointmentByFiltersAdministrator',
                type: 'post',
                beforeSend: function () {
                    //$("#messageSpanId").html("Procesando, espere por favor ...");
                },
                success: function (response) {
                    var data = JSON.parse(response);
                    var text = "";
                    for (i in data) {
                        text += "<tr>";
                        text += '<td>' + data[i].ProfessionalId + '</td>';
                        text += '<td>' + data[i].Cedula + '</td>';
                        text += '<td>' + data[i].Name + '</td>';
                        text += '<td>' + data[i].FirstLastName + '</td>';
                        text += '<td><a class=" btn btn-success btn-sm" onclick="modifyProffesional()">Modificar</a></td>';
                        text += '<button onclick="deleteProffesional()" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#cancelModal">';
                        text += "</tr>";
                    }
                    $("#tbody").html(text);


                }
            }
        );
    }

    $("#tableID tr").click(function () {
        $(this).addClass('selected').siblings().removeClass('selected');
        var value = $(this).find('td:nth-child(4)');
        var cedula = value.next().text();
        //alert(cedula);
        location.href = "/Appointment/MainFunctionaryModifyHome?Cedula=" + cedula;
    });
</script>