@{
    ViewData["Title"] = "DashboardProfessional";
}


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<center><h3 class="titles">Agenda Profesional</h3></center>
<br />
<div class="row">
    <div class="col-sm-5">
        <br />
        <br />
        <br />
        <form id="professionalDashboard-form">
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="initialDate">Fecha Inicial</label>
                        <input type="date" class="col-sm-5 form-control form-control-sm" id="initialDate" name="initialDate" />
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="process">Proceso</label>
                        <select class="col-sm-5 custom-select custom-select-sm" id="process" name="process">
                            @foreach (CitasSAPSO.Models.CatalogueModels proc in ViewBag.process)
                            {
                                <option value="@proc.ID">@proc.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="office">Oficina</label>
                        <select class="col-sm-5 custom-select custom-select-sm" id="office" name="office">
                            @foreach (CitasSAPSO.Models.CatalogueModels _office in ViewBag.office)
                            {
                                <option value="@_office.ID">@_office.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="dateStatus">Estado cita</label>
                        <input type="text" class="col-sm-5 form-control form-control-sm" id="dateStatus" name="dateStatus" />
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="consecutive">Consecutivo</label>
                        <input type="text" class="col-sm-5 form-control form-control-sm" id="consecutive" name="consecutive" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="finalDate">Fecha Final</label>
                        <input type="date" class="col-sm-5 form-control form-control-sm" id="finalDate" name="finalDate" />
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="assistance">Asistencia</label>
                        <select class="col-sm-5 custom-select custom-select-sm" id="assistance" name="assistance">
                            @foreach (CitasSAPSO.Models.CatalogueModels _assitance in ViewBag.assistance)
                            {
                                <option value="@_assitance.ID">@_assitance.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="identification">Cédula</label>
                        <input type="text" class="col-sm-5 form-control form-control-sm" id="identification" name="identification" />
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="gender">Sexo</label>
                        <select class="col-sm-5 custom-select custom-select-sm" id="gender" name="gender">
                            <option value="M">M</option>
                            <option value="F">F</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="age">Edad</label>
                        <input type="number" class="col-sm-5 form-control form-control-sm" id="age" name="age" />
                    </div>
                </div>
            </div>
            <div>
                <a class="btn btn-success" id="query" onclick="searchAppointmentsProfessional()" name="query">Consultar</a>
            </div>
        </form>

    </div>

    <div class="col-sm-7">
        <div id="calendar"></div>
    </div>

</div>
<br />
@Html.ActionLink("Cerrar Sesión", "LogOut", "User", null, new { @class = "btn btn-success" })




<script>
    var appointmentList = @Html.Raw(Json.Encode(ViewBag.appointmentList));

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek'
    });
    calendar.render();
    updateTable(appointmentList);

    function searchAppointmentsProfessional() {

        var initialDate = $('#initialDate').val();
        if (initialDate == "") {
            initialDate = null;
        }
        var finalDate = $('#finalDate').val();
        if (finalDate == "") {
            finalDate = null;
        }
        var process = $('#process').val();
        var assistance = $('#assistance').val();
        var office = $('#office').val();
        var identification = $('#identification').val();
        if (identification == "")
            identification = null;
        var gender = $('#gender').val();
        var dateStatus = $('#dateStatus').val();
        var consecutive = $('#consecutive').val();
        if (consecutive == "")
            consecutive = 0;
        var age = $('#age').val();
        if (age == "")
            age = 0;

        var parameters = {
            "initialDate": initialDate,
            "finalDate": finalDate,
            "process": process,
            "assistance": assistance,
            "office": office,
            "identification": identification,
            "gender": gender,
            "dateStatus": dateStatus,
            "consecutive": consecutive,
            "age": age
        };

        var data = 'Llego antes';
        console.log(parameters);
        $.ajax(
            {
                data: parameters,
                url: '/User/SearchAppointmentProfessional',
                type: 'post',
                async: false,
                beforeSend: function () {
                    $("#messageSpanId").html("Procesando, espere por favor ...");
                },
                success: function (response) {
                    data = JSON.parse(response);
                }
            }
        );
        updateTable(data);
    }

    function updateTable(data) {

        var params = [];
        for (index in data) {

            var date = new Date(data[index].Date);
            date = new Date(date.toDateString() + ' ' + data[index].Hour + ':00');

            params.push({
                title: data[index].Functionary.Cedula,
                start: date,
                url: "/Appointment/ShowAppointmentDetail?FunctionaryId=" + data[index].Functionary.Cedula + "&IdAppointment=" + data[index].Id,
                
            });

        }
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: { center: 'timeGridWeek,dayGridMonth' }, // buttons for switching between views
            initialView: 'timeGridWeek',
            eventClick: function (info) {
                console.log(info);
            },
            events: params

        });
        calendar.render();


    }

</script>
