@{
    ViewData["Title"] = "DashboardProfessional";
}


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<center><h3 class="titles">Agenda Profesional</h3></center>
<br />
<div class="row">
    <div class="col-sm-5">
        <form id="professionalDashboard-form">
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="initialDate">Fecha Inicial</label>
                        <input type="date" class="col-sm-5 form-control form-control-sm" id="initialDate" name="initialDate" />
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="process">Proceso</label>
                        <select class="col-sm-5 custom-select custom-select-sm" id="process" name="process">
                            @foreach (CitasSAPSO.Models.CatalogueModels proc in ViewBag.process)
                            {
                                <option value="@proc.ID">@proc.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="office">Oficina</label>
                        <select class="col-sm-5 custom-select custom-select-sm" id="office" name="office">
                            @foreach (CitasSAPSO.Models.CatalogueModels _office in ViewBag.office)
                            {
                                <option value="@_office.ID">@_office.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="dateStatus">Estado cita</label>
                        <input type="text" class="col-sm-5 form-control form-control-sm" id="dateStatus" name="dateStatus" />
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="consecutive">Consecutivo</label>
                        <input type="text" class="col-sm-5 form-control form-control-sm" id="consecutive" name="consecutive" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="finalDate">Fecha Final</label>
                        <input type="date" class="col-sm-5 form-control form-control-sm" id="finalDate" name="finalDate" />
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="assistance">Asistencia</label>
                        <select class="col-sm-5 custom-select custom-select-sm" id="assistance" name="assistance">
                            @foreach (CitasSAPSO.Models.CatalogueModels _assitance in ViewBag.assistance)
                            {
                                <option value="@_assitance.ID">@_assitance.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="identification">Cédula</label>
                        <input type="text" class="col-sm-5 form-control form-control-sm" id="identification" name="identification" />
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="gender">Sexo</label>
                        <select class="col-sm-5 custom-select custom-select-sm" id="gender" name="gender">
                            <option value="M">M</option>
                            <option value="F">F</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="age">Edad</label>
                        <input type="number" class="col-sm-5 form-control form-control-sm" id="age" name="age" />
                    </div>
                </div>
            </div>
            <div>
                <a class="btn btn-success" id="query" onclick="searchAppointmentsProfessional()" name="query">Consultar</a>
            </div>
        </form>

    </div>
</div>
<div class="row">
    <div class="col">
        <div class="timetable"></div>
    </div>

</div>

<script type="text/javascript" src="~/Scripts/timetable.js"></script>

<script>
    var timetable = new Timetable();

    timetable.setScope(7, 18);
    //timetable.useTwelveHour();
    timetable.addLocations(['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado']);



    var renderer = new Timetable.Renderer(timetable);
    renderer.draw('.timetable');


    function searchAppointmentsProfessional() {

        var initialDate = $('#initialDate').val();
        if (initialDate == "") {
            initialDate = null;
        }
        var finalDate = $('#finalDate').val();
        if (finalDate == "") {
            finalDate = null;
        }
        var process = $('#process').val();
        var assistance = $('#assistance').val();
        var office = $('#office').val();
        var identification = $('#identification').val();
        if (identification == "")
            identification = 305030090;
        var professional = 987654;
        var gender = $('#gender').val();
        var dateStatus = $('#dateStatus').val();
        var consecutive = $('#consecutive').val();
        if (consecutive == "")
            consecutive = 0;
        var age = $('#age').val();
        if (age == "")
            age = 0;

        var parameters = {
            "initialDate": initialDate,
            "finalDate": finalDate,
            "process": process,
            "assistance": assistance,
            "office": office,
            "identification": identification,
            "professional": professional,
            "gender": gender,
            "dateStatus": dateStatus,
            "consecutive": consecutive,
            "age": age
        };

        var data = 'Llego antes';
        console.log(parameters);
        $.ajax(
            {
                data: parameters,
                url: '/User/SearchAppointmentProfessional',
                type: 'post',
                async: false,
                beforeSend: function () {
                    $("#messageSpanId").html("Procesando, espere por favor ...");
                },
                success: function (response) {
                    data = JSON.parse(response);
                }
            }
        );
        updateTable(data);
    }

    function updateTable(data) {

        for (index in data) {
            var formatDateInit = new Date(data[index].Date.substr(0, 9) + ' ' + data[index].Hour);
            var formatDateEnd = new Date(data[index].Date.substr(0, 9) + ' ' + (data[index].Hour+1));
            var day = formatDateInit.toLocaleDateString('es-MX', { weekday: 'long' });
            var options = {
                appointment: data[index],
                url: '#',
                onClick: function (event, timetable, clickEvent) {
                    console.log(event);
                    alert(event.options.appointment.Id);
                }
            };
            timetable.addEvent(data[index].Functionary.Cedula, day, formatDateInit, formatDateEnd, options);
        }

        renderer.draw('.timetable');
    }

</script>
