@{
    ViewData["Title"] = "DashboardProfessional";
}



<center><h3 class="titles">Agenda Profesional</h3></center>
<br />
<div class="row">
    <div class="col-sm-5">
        <form id="professionalDashboard-form">
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="initialDate">Fecha Inicial</label>
                        <input type="date" class="col-sm-5 form-control form-control-sm" id="initialDate" name="initialDate" />
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="process">Proceso</label>
                        <select class="col-sm-5 custom-select custom-select-sm" id="process" name="process">
                            <option selected>Choose...</option>
                            @foreach (CitasSAPSO.Models.CatalogueModels proc in ViewBag.process)
                            {
                                <option value="@proc.ID">@proc.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="office">Oficina</label>
                        <select class="col-sm-5 custom-select custom-select-sm" id="office" name="office">
                            <option selected>Choose...</option>
                            @foreach (CitasSAPSO.Models.CatalogueModels _office in ViewBag.office)
                            {
                                <option value="@_office.ID">@_office.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="appointmentStatus">Estado cita</label>
                        <input type="text" class="col-sm-5 form-control form-control-sm" id="appointmentStatus" name="appointmentStatus" />
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="consecutive">Consecutivo</label>
                        <input type="text" class="col-sm-5 form-control form-control-sm" id="consecutive" name="consecutive" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="finalDate">Fecha Final</label>
                        <input type="date" class="col-sm-5 form-control form-control-sm" id="finalDate" name="finalDate" />
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="Asistence">Asistencia</label>
                        <select class="col-sm-5 custom-select custom-select-sm" id="Asistence" name="Asistence">
                            <option selected>Choose...</option>
                            @foreach (CitasSAPSO.Models.CatalogueModels _assitance in ViewBag.assistance)
                            {
                                <option value="@_assitance.ID">@_assitance.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="identification">Cédula</label>
                        <input type="text" class="col-sm-5 form-control form-control-sm" id="identification" name="identification" />
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="gender">Sexo</label>
                        <select class="col-sm-5 custom-select custom-select-sm" id="gender" name="gender">
                            <option selected>Choose...</option>
                            <option value="M">M</option>
                            <option value="F">F</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label-sm" for="age">Edad</label>
                        <input type="number" class="col-sm-5 form-control form-control-sm" id="age" name="age" />
                    </div>
                </div>
            </div>
            <div>
                <a class="btn btn-success" id="query" name="query">Consultar</a>
            </div>
        </form>

    </div>
    <div class="col-sm-7 weekTable">
        @{Html.RenderPartial("~/Views/Appointment/WeekTableHome.cshtml");}
        <div class="row justify-content-end">
            @Html.ActionLink("Cerrar Sesión", "Index", "Appointment", null, new { @class = "btn btn-success btn-sm" })
        </div>
    </div>
</div>
