
@{
    ViewData["Title"] = "MainProfessionalRegister";
}

@foreach (CitasSAPSO.Models.UserModels professional in ViewBag.professional)
{
    <form asp-controller="Administrator" asp-action="MainProfessionalRegisterAdministrator" method="post">
        <div class="row align-items-start">
            <div class="col">
                <p class="text-success">Datos Personales del Profesional</p>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="Cedula">Numero de identificacion:</label>
                    <input readonly class="col-sm-4 form-control form-control-sm" type="text" id="Cedula" name="Cedula" value="@professional.Cedula">

                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="name">Nombre:</label>
                    <input required class="col-sm-4 form-control form-control-sm" type="text" id="name" name="name" value="@professional.Name">
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="firstLastName">Primer Apellido:</label>
                    <input class="col-sm-4 form-control form-control-sm" type="text" id="firstLastName" name="firstLastName" value="@professional.FirstLastName">
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="secondLastName">Segundo Apellido:</label>
                    <input class="col-sm-4 form-control form-control-sm" type="text" id="secondLastName" name="secondLastName" value="@professional.SecondLastName">
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="personalPhone">Teléfono Personal:</label>
                    <input class="col-sm-4 form-control form-control-sm" type="text" id="personalPhone" name="personalPhone" value="@professional.PersonalPhone">
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="RoomPhone">Teléfono de habitación:</label>
                    <input class="col-sm-4 form-control form-control-sm" type="text" id="RoomPhone" name="RoomPhone" value="@professional.RoomPhone">
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="birthday">Fecha de nacimiento</label>
                    <input type="datetime" class="col-sm-4 form-control form-control-sm" id="birthday" name="birthday" value=" @professional.Birthday">
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="gender">Sexo</label>
                    <select class="col-sm-5 custom-select custom-select-sm" id="gender" name="gender">
                        <option value="@professional.Gender">Género: @professional.Gender</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="civilStatus">Estado civil:</label>
                    <select class="col-sm-5 custom-select custom-select-sm" id="civilStatus" name="civilStatus" value="@professional.CivilStatus">
                        <option selected value="@professional.CivilStatus">Estado Civil: @professional.CivilStatus</option>
                        <option value="Casado(a)">Casado(a)</option>
                        <option value="Divorsiado(a)">Divorsiado(a)</option>
                        <option value="Viudo(a)">Viudo(a)</option>
                        <option value="Soltero(a)">Soltero(a)</option>
                    </select>

                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="placeNumber">Número de plaza</label>
                    <select class="col-sm-5 custom-select custom-select-sm" id="placeNumber" name="placeNumber">
                        <option value="@professional.PlaceNumber">Número plaza: @professional.PlaceNumber</option>
                        <option value="1">Uno</option>
                        <option value="2">Dos</option>
                    </select>
                </div>


                @{
                    if (professional.Status == "0")
                    {
                        <div class="professional-register" id="state">
                            <label>Estado</label>
                            <br />
                            <input id="active" type="radio" for="status" name="status" checked value="Active">Activo

                            <br />
                            <input id="inactive" type="radio" for="status" name="status"  value="Inactive">Inactivo
                        </div>
                    }
                    if (professional.Status == "1")
                    {
                        <div class="professional-register" id="state">
                            <label>Estado</label>
                            <br />
                            <input id="active" type="radio" for="status" name="status" value="Active">Activo

                            <br />
                            <input id="inactive" type="radio" for="status" name="status" checked value="Inactive">Inactivo
                        </div>
                    }
                }




            </div>
            <div class="col">
                <br />
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="process">Procesos a los que pertenece:</label>
                    <select multiple id="process" name="process">
                        @{
                            bool flag = false;
                            foreach (CitasSAPSO.Models.CatalogueModels process in ViewBag.process)
                            {
                                foreach (CitasSAPSO.Models.CatalogueModels processProfessional in ViewBag.processProfessional)
                                {
                                    if (process.ID == processProfessional.ID)
                                    {
                                        flag = true;
                                    }
                                }
                                if (flag)
                                {
                                    <option selected value="@process.ID">@process.Name</option>
                                    flag = false;
                                }
                                else
                                {
                                    <option value="@process.ID">@process.Name</option>
                                }


                            }

                        }


                    </select>
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="EmergencyContact">Contacto en caso de emergencia:</label>
                    <input class="col-sm-4 form-control form-control-sm" type="text" id="EmergencyContact" name="EmergencyContact" value="@professional.EmergencyContact">
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="contactNumber">Número del contacto:</label>
                    <input class="col-sm-4 form-control form-control-sm" type="text" id="contactNumber" name="contactNumber" value="@professional.EmergencyContactNumber">
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="scholarship">Escolaridad:</label>
                    <select class="col-sm-5 custom-select custom-select-sm" id="scholarship" name="scholarship" value="@professional.Scholarship">
                        <option selected value="@professional.Scholarship">@professional.Scholarship</option>
                        <option value="Técnico">Técnico</option>
                        <option value="Bachillerato">Bachillerato</option>
                        <option value="Licenciatura">Licenciatura</option>
                        <option value="Maestría">Maestría</option>
                        <option value="Doctorado">Doctorado</option>
                    </select>
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="specialty">Especialidad:</label>
                    <select class="col-sm-5 custom-select custom-select-sm" id="specialty" name="specialty">
                        <option selected value="@professional.Specialty">@professional.Specialty</option>
                        <option value="Especialidad 1">Especialidad 1</option>
                        <option value="Especialidad 2">Especialidad 2</option>
                        <option value="Especialidad 3">Especialidad 3</option>
                    </select>
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="schoolCode">Código de colegio:</label>
                    <input class="col-sm-4 form-control form-control-sm" type="number" id="schoolCode" name="schoolCode" value="@professional.SchoolCode">
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="province">Provincia</label>
                    <select class="col-sm-5 custom-select custom-select-sm" id="province" name="province">
                        <option selected value="@professional.Province">@professional.Province</option>
                        <option value="san jose">San José</option>
                        <option value="heredia">Heredia</option>
                        <option value="cartago">Cartago</option>
                        <option value="alajuela">Alajuela</option>
                        <option value="puntarenas">Puntarenas</option>
                        <option value="guanacaste">Guanacaste</option>
                        <option value="limon">Limón</option>
                    </select>
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="canton">Cantón</label>
                    <select class="col-sm-5 custom-select custom-select-sm" id="canton" name="canton">
                        <option selected value="@professional.Canton">@professional.Canton</option>
                        <option value="Canton1">Canton1</option>
                        <option value="Canton1">Canton1</option>
                        <option value="Canton3">Canton3</option>
                    </select>
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="district">Distrito</label>
                    <select class="col-sm-5 custom-select custom-select-sm" id="district" name="district">
                        <option selected value="@professional.District">@professional.District</option>
                        <option value="Distrito1">Distrito1</option>
                        <option value="Distrito2">Distrito2</option>
                        <option value="Distrito3">Distrito3</option>
                    </select>
                </div>
                <div class="row professional-register">
                    <label class="col-sm-6 control-label small" for="address">Dirección:</label>
                    <textarea class="col-sm-6 form-control form-control-sm" id="address" name="address" rows="1">@professional.Address</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col justify-content-lg-start">
                <a class="btn btn-success btn-sm" href="javascript:history.back()">Atrás</a>

            </div>
            <div class="col justify-content-end">
                <a onclick="modifyInformationProfessional()" class="btn btn-success btn-sm" style="margin-left: 100px;">Aceptar</a>
            </div>
        </div>
    </form>
}
<div class="alert-danger">
    <span id="resultado"></span>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

<script src="~/Scripts/Site.js"></script>
