<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Scripts/timetablejs.css">
    <link rel="stylesheet" href="~/Scripts/demo.css">

    <link href='~/Scripts/fullcalendar/main.css' rel='stylesheet' />
    <script src='~/Scripts/fullcalendar/main.js'></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</head>
<body>
    <div class="bg1">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4>Citas <font color="yellow">SAPSO</font> <br>  &emsp;  en linea</h4>
                </div>
                <div class="col">
                    <p id="date_info"></p>
                </div>
            </div>
            <div style="margin-top: 1em;">
   


                @RenderBody()
            </div>
        </div>


    </div>
    <script type="text/javascript" src="~/Scripts/Site.js"></script>
    <script type="text/javascript" src="~/Scripts/timetable.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<script src="timetable.js"></script>*@
</body>
</html>
